@media screen and (max-width: 500px){
*{
  justify-content: center;
}
    .icon{
          display: none;
     }
    .logo{
         display: none;
         
     } 
    .sn{
         width: 100%;
         height: 100%;
         padding-left: 6px;
     }
    .carousel-inner img{
      width: 100%;
      height: 30%;  
     }
    .header {
      padding-left:20px;
     }
    #gallery{
      width: 70%;
      height: 40%;
     }
 
     .footer-content{
     justify-content: center;
     }

  
    .address{
       max-width: 100%;

     }
     .columnmaps{
     max-width:100%;
      height:30%;
    }
    footer{
  
      justify-content: center;
       height:150%;
      width: 103%;
    }
    .slideshow-container {
  
      max-width: 65%;
      max-height:20%;
     
    }
    .card{
    
      max-width: 100%;
      max-height:45%;
    }

}