
body{
     width: 100%;
}

.logo{
    height:100px;
     width:100px;

}
.icon {
     padding-left: 5px;
}
.sn{
     padding-left: 37%;
     height: 69%;
     width: 55%;
}
.nav2{
     background:linear-gradient(to left, rgba(206, 141, 141, 1) ,rgba(44, 154, 44, 1));
}
.nav-item {
     position:relative;
     left:45px;
     font-family:"Fugaz One", sans-serif;
     
  padding-left: 20px;
  padding-right: 10px;
}

.carousel-inner img{
     width: 100%;
     height: 45%;  
}
h1{
     padding: 50px 10px 0% 90px;
}

.ol {
     font-size:medium;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     list-style-type:circle;
     padding-top:5%;
}
.plam{
     padding: 20px 20px 20px 20px  
}
.hmimage{
   
     position:relative;
     bottom: 3PX;
     right: 5%;
     top: 40px;
border-radius: 50% 50% 0% 20%;
height: 65%;
width: 110%;
}
.hmmessage{
   text-align: center;  
   padding: 2px;
   padding-top:3%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exp{
     height: 198px;
     width: 95px;
    padding-top: 44px;
}

.expimage{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.66);
     border-radius: 66px;
     padding-right:10PX ;
     padding-left: 30px;
     padding-top: 5%;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: X-large;
     font-style:italic;
     text-align: center;
     background-color: rgba(69, 61, 222, 0.763);         
}
.header{
padding-left:39%; 
}
.header h1{
     font-family: "Lobster", serif;
     font-weight: 400;
     font-style: normal;

  color: brown;  
  font-size:x-large; 
}

#gallerybox {
     display: -ms-flexbox; /* IE10 */
     display: flex;
     -ms-flex-wrap: wrap; /* IE10 */
     flex-wrap: wrap;
     padding: 0 4px;
   }
   
   /* Create four equal columns that sits next to each other */
   .column {
     -ms-flex: 20%; /* IE10 */
     flex: 20%;
     max-width: 33%;
     padding: 0 1px;
   }
   
   .column img {
     margin-top: 2px;
     vertical-align: middle;
     width: 100%;
   }
   
  
 /* Hide scrollbar for all elements */
 ::-webkit-scrollbar {
     display: none; /* Chrome, Safari, Opera */
   }
   html {
     overflow: -moz-scrollbars-none; /* Firefox */
     -ms-overflow-style: none; /* IE, Edge */
   }
   body {
     margin: 0;
     padding: 0;
     overflow-y: scroll; /* Always show vertical scrollbar */
   }

#gallery{
     box-shadow: 0 4px 8px 0 rgba(11, 11, 11, 0.6), 0 6px 20px 0 rgba(214, 207, 207, 0.79);
     width: 60%;
     aspect-ratio: 4/2;
     margin: auto;
     border: solid rgb(12, 12, 12) 0.5px;
     overflow-x: hidden;
     overflow-y: scroll;
     scroll-snap-type: y mandatory;
}

     /* Slideshow container */
     .slideshow-container {

     max-width: 43%;
     max-height: 55%;
     position: relative;
    margin: auto;
    margin-top: 26PX;
    
     }
    
     
     /* The dots/bullets/indicators */
     .dash {
     height: 3px;
     width: 16px;
     margin:auto;
     background-color: #00ff48;
     border-radius: 34%;
     display: inline-block;
     transition: background-color 0.4s ease;
     }
     
     .active {
     background-color: #9d1111;
     }
     
     /* Fading animation */
     .fade-right {
     animation-name: fade;
     animation-duration: 1.5s;
     }
     @keyframes fade-right {
          from {opacity: .5} 
          to {opacity: 1}
       }
        
     .teacherinfo{
          width:70%;
          height:100%;
        
     }
     .card{
          margin: 2px;
      
          width:90%;
          height:95%;
     }
     .card img{
          width: 65%;
         padding: 5px 0px 5px 55px;
          height: 80%;
          border-radius: 0;
     }

 /* Styling footer */
 footer {
     background-color: #333;
     color: #fff;
     width: 101%;
 }
 
 .footer-content {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     max-width: 90%;
     margin: 0 auto;
 }
 
 .footer-content ul {
     list-style-type: none;
 }
 
 .footer-content ul li {
     display: inline;
     margin-right: 10px;
 }
 
 .footer-content ul li:last-child {
     margin-right: 0;
 }
 
 .footer-content ul li a {
     text-decoration: none;
     color: #fff;
 }
 
 .sitemap {
     margin-right: 20px;
 }
 
 .developed-by {
     background-color: #4a4b4a;
     margin-top: 1px;
     color: #ffffff;
 }
 
 .developed-by a {
     font-family:cursive;
     color: #ffffff;
     text-decoration:dotted;
 }
 
 .columnfollowus a.fa {
  padding: 20px;
  font-size: 23px;
  text-decoration: none;
  margin: 5px ;
  border-radius: 50%;
}
 
.columnfollowus a.fa:hover {
       opacity: 0.7;
   }

   .columnfollowus a.fa-facebook {
     background: #3B5998;
     color: white;
   }
   
   .columnfollowus a.fa-twitter {
     background: #55ACEE;
     color: white;
   }
   
   .columnfollowus a.fa-google {
     background: #dd4b39;
     color: white;
   }
   
   .columnfollowus a.fa-linkedin {
     background: #007bb5;
     color: white;
   }
   
   .columnfollowus a.fa-youtube {
     background: #bb0000;
     color: white;
   }
   
   .columnfollowus a.fa-instagram {
     background: #125688;
     color: white;
   }